In [4]:
import pandas as pd

id_vals=[1, 2, 3]
name_vals=['a', 'b', 'c']
data={
    'id': id_vals,
    'name': name_vals
}

df=pd.DataFrame(data)
df

   id name
0   1    a
1   2    b
2   3    c

In [5]:
# pandas series is like a column
a=[1, 2, 3]
df=pd.Series(a)
a

[1, 2, 3]

In [12]:
# key value object as series
a={'Shivam': 24, 'Kumar': 25, 'Traps': 22}
df=pd.Series(a)
df

Shivam    24
Kumar     25
Traps     22
dtype: int64

In [15]:
# df is a table / 2d array

id_vals=[1, 2, 3, 4, 5]
name_vals=['a', 'b', 'c', 'd', 'e']
data={
    'id': id_vals,
    'name': name_vals
}

df=pd.DataFrame(data)
df

   id name
0   1    a
1   2    b
2   3    c
3   4    d
4   5    e

In [21]:
# loc: to locate record with row num

# df.loc[[0]]
df.loc[[1, 4]]

   id name
1   2    b
4   5    e

In [ ]:
# using index: index gives meaningful label to rows and makes it easier to find

id_vals=[1, 2, 3, 4, 5]
name_vals=['a', 'b', 'c', 'd', 'e']
data={
    'id': id_vals,
    'name': name_vals
}

df=pd.DataFrame(data, index=['id1', 'id2', 'id3', 'id4', 'id5'])
df.loc[['id2']]

     id name
id2   2    b

In [31]:
# load files to df

df=pd.read_csv('sample_data.csv')
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0